<div class="layer text-center ">
    <h2>contact section</h2>
</div>
<div class="star-container">
    <span class="star">★</span>   
</div> 

<div class="w-50 mx-auto p-5 my-5  ">
    <div class="form-floating mb-3">
        <input type="text" class="form-control border-0 border-bottom rounded-0" id="userName" placeholder="userName">
        <label for="userName">userName</label>
      </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control border-0 border-bottom rounded-0" id="userAge" placeholder="userAge">
        <label for="userAge">userAge</label>
      </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control border-0 border-bottom rounded-0" id="userEmail" placeholder="userEmail">
        <label for="userEmail">userEmail</label>
      </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control border-0 border-bottom rounded-0" id="userPassword" placeholder="userPassword">
        <label for="userPassword">userPassword</label>
      </div>
      
      <button  class="btn btn-info text-light my-3">Send Message</button>
    </div>


