<div class="position text-center ">
    <h2>portfolio section</h2>
</div>
<div class="star-container">
    <span class="star">★</span>   
</div>

<div class="slider">
    <div class="container my-5">
        <div class="row gy-4">
            <div class="col-md-4 col-sm-6">
                <div class="item position-relative overflow-hidden">
                    <img class="img-fluid zoomable  rounded-2" src="https://routeegy.github.io/startFramework/assets/images/poert1.png" alt="Work 1">
                    <div class="layer position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center text-center">
                        <i class="fa-solid fa-plus text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item position-relative overflow-hidden">
                    <img class="img-fluid zoomable rounded-2" src="https://routeegy.github.io/startFramework/assets/images/port2.png" alt="Work 2">
                    <div class="layer position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center text-center">
                        <i class="fa-solid fa-plus text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item position-relative overflow-hidden">
                    <img class="img-fluid zoomable rounded-2" src="https://routeegy.github.io/startFramework/assets/images/port3.png" alt="Work 3">
                    <div class="layer position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center text-center">
                        <i class="fa-solid fa-plus text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item position-relative overflow-hidden">
                    <img class="img-fluid zoomable rounded-2" src="https://routeegy.github.io/startFramework/assets/images/poert1.png" alt="Work 4">
                    <div class="layer position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center text-center">
                        <i class="fa-solid fa-plus text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item position-relative overflow-hidden">
                    <img class="img-fluid zoomable rounded-2" src="https://routeegy.github.io/startFramework/assets/images/port2.png" alt="Work 5">
                    <div class="layer position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center text-center">
                        <i class="fa-solid fa-plus text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item position-relative overflow-hidden">
                    <img class="img-fluid zoomable rounded-2" src="https://routeegy.github.io/startFramework/assets/images/port3.png" alt="Work 6">
                    <div class="layer position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center text-center">
                        <i class="fa-solid fa-plus text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
portfolio
  