<div class="body">
    <div class="container">
        <div class="row p-5">
            <div class="col-lg-12">
                <div class="layer text-center  mt-5">
                    <img width="300px" src="https://routeegy.github.io/startFramework/assets/images/avataaars.svg" alt=" avatar image">
                    <h2>start Framework</h2>
                </div>
                <div class="star-container">
                    <span class="star">★</span>   
                </div>   
                <p class="text-center mb-5">Graphic Artist - Web Designer - Illustrator</p>               
            </div>
        </div>
    </div>
</div>

